<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AguaPurificadaCelica"
        tools:targetApi="31">
        <activity
            android:name=".activities.Encuentranos.Encuentranos"
            android:exported="false" />
        <activity
            android:name=".activities.RealidadVirtual.Realidad"
            android:exported="false" />
        <activity
            android:name=".activities.Home.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Home.FueradeServicio" />
        <activity android:name=".activities.Home.Home" />
        <activity android:name=".activities.Conocenos.Conocenos" />
        <activity android:name=".activities.Contactanos.Contactanos" />
        <activity android:name=".activities.Conocenos.DetailActivityConocenos" />
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.SelectOptionAuthActivity" />
        <activity
            android:name=".activities.client.RegisterActivity"
            android:parentActivityName=".activities.SelectOptionAuthActivity" />

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key"/>
    </application>

</manifest>